
* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;

  background-color: white;
  color: black;

  text-align: center;

}

header{
  background-color: white;
  height: 10vh;

  display: flex;
  align-items: center;

  margin-bottom: 1vh;

  color: black;
}


h1 {
  text-transform: uppercase;
  text-align: center;
}

img{
  border-radius: 20px;
  transition: 1s;
}

img:hover{
  width: 110%;
}


form{
  display: flex;
  align-items: center;
  width: 23%;
}


button{
  border: none;
  border-radius: 20px;

  background-color: black;
  color: white;

  padding: 1vh;

  cursor: pointer;
}


#movie-search{
  border-radius: 10px;
  border: none;

  height: 2vh;
  background-color: rgba(0, 0, 0, 0.27);
}


section{
  margin-bottom: 2vh;
}

.name{
  width: 80%;
}

#general-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/4)), 1fr));

  margin: 25px;
}


#show-more-button{
  margin-bottom: 2vh;

  font-size: 16px;
  font-weight: bold;

  width: 10%;
}



.dark-mode{
  background-color: black;
  color: white;
}

.button-dark-mode{
  background-color: white !important;
  color: black;
}
  

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 90vh;
  width: 90%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);

  overflow: scroll;
}


.modal-container.visible {
  display: flex;
  margin: 100px;
  border-radius: 30px;
}

.modal-container .modal {
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/4)), 1fr));

  padding: 50px;
  border-radius: 30px;

  margin: 50px;
  background-color: white;

  overflow: scroll;
}

#close-modal-symbol{
  border: none;
  border-radius: 30px;
  color: black;
  background-color: white;
  padding: 20px;

  margin-bottom: 40vh;
}

.modal section img{
  width: 50%;
}