
* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;

  background-color: white;
  color: black;

  text-align: center;

}

h1 {
  text-transform: uppercase;
  text-align: center;
}

img{
  border-radius: 20px;
}

header{
  background-color: black;
  height: 10vh;

  display: flex;
  align-items: center;

  margin-bottom: 1vh;

  color: white;
}

form{
  display: flex;
  align-items: center;
  width: 23%;
}

#search-button{
  border: none;
  border-radius: 20px;

  background-color: white;

  padding: 0.5vh;
  width: 20%;

  cursor: pointer;
}


#gif-search{
  border-radius: 10px;
  border: none;

  height: 2vh;
}


section{
  margin-bottom: 2vh;
  
}

#general-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/4)), 1fr));

  margin: 25px;
}

#show-more-button{
  background-color: black;
  color: white;

  border-radius: 30px;
  border: none;

  padding: 2vh;
  width: 10%;
  margin-bottom: 2vh;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
}

  